<div class="footer container-fluid">
          <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5  border-top justify-content-center ">
                    <div class="col mb-3 text-center ">
                              <h5>Women</h5>
                              <ul class="nav flex-column">
                                <li class="nav-item mb-2 nav-items"><a href="/dresses-women.html" class="nav-link p-0 ">Dress</a></li>
                                <li class="nav-item mb-2 nav-items"><a href="/pants-women.html" class="nav-link p-0 ">Pant</a></li>
                                <li class="nav-item mb-2 nav-items"><a href="/skirts-women.html" class="nav-link p-0 ">Skirts</a></li>
                              
                              </ul>
                            </div>
                
                   
                
                    <div class="col mb-3 text-center ">
                      <h5>Men</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2 nav-items"><a href="/shirt-mens.html" class="nav-link p-0 ">Shirts</a></li>
                        <li class="nav-item mb-2 nav-items"><a href="/pants-mens.html" class="nav-link p-0 ">Pants</a></li>
                        <li class="nav-item mb-2 nav-items"><a href="/hoodies-mens.html" class="nav-link p-0 ">Hoodies</a></li>
                      
                      </ul>
                    </div>
                
                    <div class="col mb-3 text-center">
                      <h5>Kids</h5>
                      <ul class="nav flex-column">
                    
                      
                      </ul>
                    </div>
                
                    <div class="col mb-3 text-center">
                      <h5>Links</h5>
                      <ul class="nav flex-column">
                              <li class="nav-item nav-items mb-2"><a href="/index.html" class="nav-link p-0 ">Home</a></li>
                              <li class="nav-item nav-items mb-2"><a href="/login.html" class="nav-link p-0 ">Login</a></li>
                              <li class="nav-item nav-items mb-2"><a href="/contact.html" class="nav-link p-0 ">Contact</a></li>
                      </ul>
                    </div>
                  
                  </footer>
                  
                  <div class="Hline text-center">
                    <ul class="social-icons ">
                      <li><a class="facebook" href="#" title="follow us on Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a class="twitter" href="#" title="follow us on Twitter"><i class="fa-brands fa-github"></i></a></li>
                      <li><a class="instagram" href="#" title="follow us on Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <hr >
                    <p>Copyright @E-Commerce 2023-24</p>
                  </div>
               

</div>

     
        