<ul class="nav  justify-content-center align-items-center subnav  ">
            
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allProducts.html">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Men</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/allProducts.html">
               All products 
                </a></li>
              <li><a class="dropdown-item" href="/shirt-mens.html">Shirts</a></li>
              <li><a class="dropdown-item" href="/pants-mens.html">Pants</a></li>
              <li><a class="dropdown-item" href="/hoodies-mens.html">Hoodies</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Women</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/allProducts.html">
                All products 
                 </a></li>
               <li><a class="dropdown-item" href="/dresses-women.html">Dresses</a></li>
               <li><a class="dropdown-item" href="/pants-women.html">Pants</a></li>
               <li><a class="dropdown-item" href="/skirts-women.html">Skirts</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kids.html">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact</a>
          </li>

        </ul>