<ul class="nav justify-content-center align-items-center subnav">
  <!-- Home link -->
  <li class="nav-item">
      <a class="nav-link" href="/index.html">Home</a>
  </li>
  
  <!-- All Products link -->
  <li class="nav-item">
      <a class="nav-link" href="/allProducts.html">All Products</a>
  </li>
  
  <!-- Men dropdown -->
  <li class="nav-item">
      <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Men</a>
      <ul class="dropdown-menu">
          <!-- All Men's Products link -->
          <li><a class="dropdown-item" href="/menAll_Product.html">All</a></li>
          <!-- Men's Shirts link -->
          <li><a class="dropdown-item" href="/shirt-mens.html">Shirts</a></li>
          <!-- Men's Pants link -->
          <li><a class="dropdown-item" href="/pants-mens.html">Pants</a></li>
          <!-- Men's Hoodies link -->
          <li><a class="dropdown-item" href="/hoodies-mens.html">Hoodies</a></li>
      </ul>
  </li>
  
  <!-- Women dropdown -->
  <li class="nav-item">
      <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Women</a>
      <ul class="dropdown-menu">
          <!-- All Women's Products link -->
          <li><a class="dropdown-item" href="/womenAll_Product.html">All</a></li>
          <!-- Women's Dresses link -->
          <li><a class="dropdown-item" href="/dresses-women.html">Dresses</a></li>
          <!-- Women's Pants link -->
          <li><a class="dropdown-item" href="/pants-women.html">Pants</a></li>
          <!-- Women's Skirts link -->
          <li><a class="dropdown-item" href="/skirts-women.html">Skirts</a></li>
      </ul>
  </li>
  
  <!-- Kids link -->
  <li class="nav-item">
      <a class="nav-link" href="/kids.html">Kids</a>
  </li>
  
  <!-- Contact link -->
  <li class="nav-item">
      <a class="nav-link" href="/contact.html">Contact</a>
  </li>
</ul>
