.form-group {margin-bottom: 15px;}

label {
          font-weight: 600;
}
.container img:hover {
          opacity: 0.8;
         
          transform: scale(0.9);
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }
      
        
.contact-btn{
          font-weight: bold;
          margin-top: 1rem;
          padding: 10px;
          border: none;
          background-color: #f55951;
          cursor: pointer;
         color: antiquewhite;
}
.contact-btn:hover{
    letter-spacing: 5px;
    background-color:#ed453c;
 
    transition: transform 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

.contact{
          margin-top: 20px;
          background-color: antiquewhite;
          padding: 0 40px;
          border-radius: 10px;
}